[submodule "external/kicad-symbols"]
	path = external/kicad-symbols
	url = https://gitlab.com/kicad/libraries/kicad-symbols.git
[submodule "external/kicad-footprints"]
	path = external/kicad-footprints
	url = https://gitlab.com/kicad/libraries/kicad-footprints.git
